<h2>New Viewer Info</h2>

<form action="/viewer/new" method="POST">
  <div class="form-group">
    <label for="viewerName">Name</label>
    <input id="viewerName" class="form-control" type="text" name="name">
  </div>

  <div class="form-group">
    <label for="viewerEmail">Email</label>
    <input id="viewerEmail" class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="viewerPhone">Phone</label>
    <input id="viewerPhone" class="form-control" type="text" name="phone">
  </div>

  <input class="btn btn-primary" type="submit">
</form>
