

<div class="headRow">
	
	<div class="headContainer">

		<div class="logo">STATUS<span class="check">CHECK</span></div>

			<div class="loginContainer">
			</div>

			<% if (currentUser) { %> 

				<div class="loggedIn header">
					<a href="/timeline/all" class="btn btn-info" style="margin: 0 10px; font-family: 'Heebo', sans-serif;">See All</a>
					<a href="/timeline/new" class="btn btn-primary" style="margin: 0 10px 0 0; font-family: 'Heebo', sans-serif;">+ Create New</a>
					Logged in as <a href="/auth/logout" style="font-weight: 400; color: #fff;"><%= currentUser.name %></a>
				</div>

			<% } %>

			<% if (!currentUser) { %> 
				<div class="loggedIn header">
					<a href="/auth/login" class="btn btn-info">Log in</a>
				</div>
			<% } %>

		</div>
	</div>
</div>

