
<div class="headContainer">

<div class="logo">STATUS<span class="check">CHECK</span></div>

<div class="loginContainer">
	
	<div class="loggedIn header">
		Logged in as <span style="font-weight: 400;"><%= currentUser.name %></span>
	</div>

</div>

</div>

<hr>