<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Progress Tracker</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">





  </head>
  <body>
    <div class="container">

      <% include partials/header %>

      <% include partials/alerts %>

      <%- body %>
    </div>

    <% include partials/footer %>

    <div class="container" style="margin-top: 20px;">
    
        <strong>User:</strong> <%- JSON.stringify(currentUser) %>
      
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
