body {
	background-color: #444 !important;
}

body, h4, h5 {
	font-family: 'Heebo', sans-serif !important;
	font-weight: 300 !important;	
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif !important;
	/*font-weight: 300 !important;*/
	/*color: #fff;*/
}

h3.page-title {
	color: #fff;
	padding: 10px;
	font-weight: 300;
}





/*BOOTSTRAP OVERWRITE*/

.btn {
	padding: 4px 8px !important;
	border-radius: 0px !important;
}

.panel {
	border-radius: 0px !important;
}





.check {
	color: #9fd148;
}





h2.timeline-title {
	text-transform: uppercase;
	color: #9fd148;
	line-height: 30px;
    margin: auto;
    font-weight: 500;
}

/*.timelineInfoAll {
	padding: 10px 0 0 40px;
}*/

.timeline-info {
	padding: 10px 0 0 40px !important;
}

.timelineButtonContainer {
	justify-content: space-around;
    display: flex;
    margin: 0 auto 10px auto;
    width: 120px;
}


#footer {
	background-color: gray;
	margin-top: 20px;
	padding: 10px;
}

/*input[type=radio]:checked {
    margin: 4px 5px 0 0 !important;
    line-height: normal;
}*/

.edit-timeline-form {
	padding: 50px;
}

.edit-timeline-form-label {
	font-weight: 400;
    color: #fff;
    font-size: 16px;
}

input[type=radio] {
    margin: 0 auto !important;
    display: block !important;
    line-height: normal;
}

label.status {
	text-align: center;
	font-weight: 400;
}

.stepStatus {
	padding-top: 5px;
}

.editStepContainer {
	display: flex;
    width: 100%;
    justify-content: space-between;
}

.verticalContainer {
	display: flex; 
	position: relative; 
	align-self: center; 
	flex-direction: column;
}

.repositionStep {
	margin-right: 40px;
	display: inline-block;
} 


.updateContainer {
	display: none;
/*	min-height: 200px;
	display: none;
	padding-left: 50px;
	padding-top: 20px;*/
	/*//background-color: #efefef;*/
}

.hidden {
	display: none;
}

/*.btn.retractButton {
	display: none ;
}*/

.btn.hideRetract {
	display: none;
}


.stepContainer {
    margin-bottom: 10px;
    padding: 0 50px;
}

.stepTitle {
	font-size: 20px;
	margin-bottom: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

.shareDescription {
	color: #fff;
}

.stepShareIconContainer {
	display: inline-block;
	margin-right: 40px;
}

.shareStepRow {
	display: flex;
    width: 100%;
/*    justify-content: space-between;*/
    padding: 10px 30px;
}

.stepui {
	width: 85px;
	height: 85px;
	/*border: 1px solid #000;*/
	display: flex;
	//margin: 5px;
	border-radius: 50px;
	align-content: center;
	justify-content: center;
	/*align-content: center;*/
}

.stepuiText {
	display: flex;
	align-self: center;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
}

.viewer-page {
	max-width: 800px;
	padding: 30px;
}

.viewer-status-container {
	background-color: #fff;
	padding: 20px 0;
}

.toDo {
	background-color: white;
	border: 3px solid #777;
	color: #777;
}

.inProgress {
	background-color: white;
	color: #9fd148;
	border: 3px solid #9fd148;
	padding-bottom: 6px;
}

.complete {
	background-color: #9fd148;
	color: white;
}


.shareContainer {
	border: 1px solid #000;
	padding: 30px;
}

/*HEADER*/

.headRow {
	background-color: #333;
	height: 60px;
	width: 100%;
}

.headContainer {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #fff;
}

.logo {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 500;
	display: inline-block;
	float: left;
	color: #fff;
}

.loggedIn {
	font-weight: 300;
	float: right;
}

.logIn {
	float: right;
}


@media (max-width: 386px) {
	input[type=radio] {
	    margin: 4px auto;
	    margin-top: 1px\9;
	    line-height: normal;
	    display: block;
	}
}

@media (max-width: 770px) {
	.timeline-info {
		text-align: center;
	}
	.headContainer {
		padding: 5px 20px;
	}
}

