#footer {
	background-color: gray;
	margin-top: 20px;
	padding: 10px;
}

/*input[type=radio]:checked {
    margin: 4px 5px 0 0 !important;
    line-height: normal;
}*/

input[type=radio] {
    margin: 0 auto !important;
    display: block !important;
    line-height: normal;
}

label.status {
	text-align: center;
}

.stepStatus {
	padding-top: 5px;
}

.editStepContainer {
	display: flex;
    width: 100%;
    justify-content: space-between;
}

.verticalContainer {
	display: flex; 
	position: relative; 
	align-self: center; 
	flex-direction: column;
}

.repositionStep {
	margin-right: 40px;
	display: inline-block;
} 


.updateContainer {
	display: none;
/*	min-height: 200px;
	display: none;
	padding-left: 50px;
	padding-top: 20px;*/
	/*//background-color: #efefef;*/
}

.hidden {
	display: none;
}

/*.btn.retractButton {
	display: none ;
}*/

.btn.hideRetract {
	display: none;
}


.stepContainer {
    margin-bottom: 10px;
    padding: 0 50px;
}

.stepTitle {
	font-size: 20px;
	margin-bottom: 5px;
}

.stepui {
	width: 26px;
	height: 26px;
	/*border: 1px solid #000;*/
	display: inline-block;
	//margin: 5px;
	border-radius: 13px;
}

.toDo {
	background-color: red;
}

.inProgress {
	background-color: yellow;
}

.complete {
	background-color: green;
}




@media (max-width: 386px) {
	input[type=radio] {
	    margin: 4px auto;
	    margin-top: 1px\9;
	    line-height: normal;
	    display: block;
	}
}

