<h3 class="page-title">Add step to <span style="color: #9fd148;"> <%= timeline.title %> </span></h3>

<div style="background-color: #fff; padding: 30px;">
	<form action="/timeline/<%= timeline.id %>/addstep" method="POST">
	  <div class="form-group">
	    <label for="stepName" class="form-label">New step</label>
	    <input id="stepName" class="form-control" type="text" placeholder='example: "mow lawn"'  name="stepName">
	  </div>

	  <div class="form-group">
	    <label for="stepDesc" class="form-label">Description of new step</label>
	    <input id="stepDesc" class="form-control" type="text" placeholder='example: "use a lawn mower to make the grass shorter"' name="stepDesc">
	  </div>


	  <input class="btn btn-info" type="submit" value="Add new step">
	  <a href="/timeline/<%= timeline.id %>" class="btn btn-warning">Cancel</a>
	</form>
</div>