<h2>Add/edit steps for timeline here</h2>

<h5>Display timeline here</h5>

<%= timeline.title %>
<%= timeline.description %>

<form action="/timeline/<%= timeline.id %>/addstep" method="POST">
  <div class="form-group">
    <label for="stepName">New Step</label>
    <input id="stepName" class="form-control" type="text" placeholder='example: "mow lawn"'  name="stepName">
  </div>

  <div class="form-group">
    <label for="stepDesc">Description of New Step</label>
    <input id="stepDesc" class="form-control" type="text" placeholder='example: "use a lawn mower to make the grass shorter"' name="stepDesc">
  </div>

  <div class="form-group">
    <label for="stepPosition">Step position</label>
    <input id="stepPosition" class="form-control" type="text" placeholder='example: "2"'  name="stepPosition">
  </div>


  <input class="btn btn-primary" type="submit" value="Add new step">
</form>