<h3 class="page-title">Create New Timeline</h3>


<div style="background-color: #fff; padding: 30px;">	
	<form action="/timeline/new" method="POST">
	  <div class="form-group">
	    <label for="timelineName" class="form-label">Title</label>
	    <input id="timelineName" class="form-control" type="text" placeholder='example: "Brits landscaping timeline"'  name="timelineName">
	  </div>

	  <div class="form-group">
	    <label for="timelineDesc" class="form-label">Description</label>
	    <input id="timelineDesc" class="form-control" type="text" placeholder='example: "this timeline is tracking this process for this reason"'  name="timelineDesc">
	  </div>

	  <input class="btn btn-primary" type="submit" value="Add new timeline">
	  <a href="/timeline/all" class="btn btn-warning">Cancel</a>
	</form>
</div>